<section id="initialData">
    <h1>Choose SLA</h1>
    <form>
        <div class="col-md-4">
            <div class="form-group">
                <label for="SLA-choice">SLA Type</label>
                <select name="type" id="SLA-choice" class="form-control">
                    <option value="average">Average</option>
                    <option value="percentile">Percentile</option>
                    <option value="max">Max</option>
                </select>
            </div>

            <fieldset class="form-group">
                <label for="SLA-value">SLA Value</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="value" id="SLA-value">
                    <div class="input-group-addon">seconds + 60s (VM startup time)</div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary" ic-post-to="/sendSLA" ic-target="#step" ic-indicator="#indicator">Submit SLA</button>
        </div>
    </form>
</section>
