<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>R Learn</title>
    <link rel="stylesheet" type="text/css" href="wisedb.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.intercoolerjs.org/intercooler-1.0.0.min.js"></script>
    <script type="application/javascript" src="vue.min.js"></script>
    <script type="application/javascript" src="bootstrap.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

    <script type="application/javascript" src="doBandit.js"></script>
    <script type="application/javascript" src="createSLEARNChart.js"></script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">C</a>
            </div>
##            <div id="navbar" class="collapse navbar-collapse">
##                <ul class="nav navbar-nav">
##                    <li class="active"><a href="#">Home</a></li>
##                    <li><a href="#about">About</a></li>
##                    <li><a href="#contact">Contact</a></li>
##                </ul>
##            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="starter-template">
                <div id="step">
                    #parse ( $error )
                    #parse( $next-Step )
                </div>
                <span id="indicator" class="fa fa-spinner fa-spin" style="display:none"></span>
            </div>
        </div>
    </div>
</body>
</html>
