<div>
  <div v-show="waiting">
    <p align="center"><i class="fa fa-spinner fa-spin fa-3x"></i></p>
    <p align="center">Please wait...</p>
  </div>

  <div v-show="!waiting">
    <p>Here's some SLAs that represent cost vs. performance tradeoffs in your workload. The cost displayed is for a workload with five queries of each template. Select an SLA from below to see a new schedule.</p>
  </div>
  
  <div v-if="!waiting && correctMode() && results">
    <table class="table table-striped">
      <thead>
	<tr><th>#</th><th>Deadline</th><th>Cost</th><th>Select</th></tr>
      </thead>
      <tbody>
	<tr :class="{'success': selectedSLA.index == -1}">
	  <td>1</td>
          
	  <td v-if="!isPerQuery()">{{ results.original.deadline - 60 }} seconds</td>
          <td v-if="isPerQuery()">Original deadline</td>
          
	  <td>{{ results.original.cost }} cents</td>
	  <td><button class="btn btn-primary"
                      v-on:click="selectSLA(-1)">
              Use Original SLA</button></td>
	</tr>
	<tr v-for="r in results.suggestions" :class="{'success': selectedSLA.index == r.index}">
	  <td>{{ r.index + 2}}</td>
	  <td v-if="!isPerQuery()">{{ r.deadline - 60}} seconds</td>
          <td v-if="isPerQuery()">{{ (r.deadline - 60) * (4.0/25.0) }}x multipler</td>
	  <td>{{ r.cost }} cents</td>
	  <td><button class="btn btn-default"
                      v-on:click="selectSLA(r.index)">
              Use Suggested SLA
          </button></td>
	</tr>
      </tbody>
    </table>
    

    <div class="form-horizontal">
      <p>Select how many queries of each type to include in the workload.</p>
      <div class="form-group" v-for="t in templates">
        <div :class="{'has-error': !validateFreq(t) }">
          <label class="col-sm-2 control-label">Q{{t}}</label>
          <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   v-model="frequencies[t]">
          </div>
        </div>
      </div>
    </div>
        
  </div>
</div>

