<h1>Choose amount of each query</h1>
<section id="initialData">
    <form>
        #foreach($template in $templates.keySet())
            <div class="form-group">
                <label for="$template">$templates.get($template)</label>
                <input id="$template" name="templatecount-$template" type="value" class="toggle">
            </div>
        #end
        <button type="submit" class="btn" ic-post-to="/sendNumQueries" ic-target="body">DO IT!</button>
    </form>
</section>
