<h1>Choose SLA Again</h1>
<section id="initialData">
        <h2>Are you sure about that?</h2>

	<ul>
   	#foreach($SLA in $SLARecs)
    	<li>Deadline: $SLA.getDeadline(), cost estimate: $SLA.getCost()
		<form>
			<input type="hidden" name="slaIdx" value="$foreach.index" />
			<button type="submit" class="btn" ic-post-to="/sendSLA2" ic-target="#step" ic-indicator="#indicator">DO IT!</button>
		</form>
		</li>
   	#end
	</ul>	
</section>
