<h1>Choose SLA</h1>
<section id="initialData">
    <form>
        <h2>Choose SLA type</h2>
            <div class="input-field col s12">
                <select name="type">
                    <option value="average">Average</option>
                    <option value="percentile">Percentile</option>
                    <option value="max">Max</option>
                </select>
            </div>

        <h2>Choose value</h2>
        <input type="text" name="value">

        <button type="submit" class="btn btn-default" ic-post-to="/sendSLA" ic-target="#step" ic-indicator="#indicator">DO IT!</button>
    </form>
</section>
