<div class="vm" v-for="(value, key) in vms">
    <p>VM ID: {{ key }}</p>
    <p>VM state: {{ value.state }}</p>
    <p>
        Queries:
    <ol>
        <li v-for="q in value.queue">{{q}}</li>
    </ol>
    </p>
</div>
