<div class="panel panel-default">
	<div class="panel-heading">Recommended Strategy</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
		  <dt>Number of VMs</dt>
		  <dd>$numVMs VMs</dd>
		  <dt>Number of Queries</dt>
		  <dd>$numQueries queries</dd>
		  <dt>Query density</dt>
		  <dd>$queryDensity queries per VM</dd>
		  <dt>Deadline</dt>
		  <dd>$sla.getDeadlineSeconds() seconds</dd>
		  <dt>Total cost of strategy</dt>
		  <dd>$cost cents</dd>
		</dl>
		
		#foreach ($vm in $vms)
		<div class="well">
			<img width="24px" height="24px" src="server.png"  style="display: inline; vertical-align: bottom;" alt="Virtual machine"></a>
			<ul class="list-inline" style="display: inline; padding-left: 10px;">
			#foreach ($q in $vm.getQueries())
				<li>$q</li>
			#end
			</ul>
		</div>
		#end
	</div>
</div>