<div class="panel panel-default">
	<div class="panel-heading strat">Recommended Strategy</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
		  <dt>Number of VMs</dt>
		  <dd>$numVMs VMs</dd>
		  <dt>Number of Queries</dt>
		  <dd>$numQueries queries</dd>
		  <dt>Query density</dt>
		  <dd>$queryDensity queries per VM</dd>
		  <dt>Deadline</dt>
		  <dd>$sla.getDeadlineSeconds() seconds</dd>
		  <dt>Total cost of strategy</dt>
		  <dd>$cost cents</dd>
		</dl>
		
		#foreach ($vm in $vms)
		<div class="well">
			<div class="row">
				<div class="col-xs-1">
                    <img class="strat-rec-img" width="24px" height="24px" src="server.png"  style="display: inline; vertical-align: bottom;" alt="Virtual machine"></a>
				</div>
				<div class="col-xs-11">
					<ul class="list-inline" style="display: inline; padding-left: 10px;">
					#foreach ($q in $vm.getQueries())
						<li><div class="strat-rec-img sphere t$q"
								 data-toggle="tooltip"
								 title="Query Template Number= $q, Description= ''">
							$q
							</div></li>
					#end
					</ul>
                </div>
            </div>
		</div>
		#end
        <div class="row">
            <div class="col-xs-12">
                <canvas id="chart" width="400" height="400" data-ffi="$ffi" data-ffd="$ffd" data-pack9="$pack9" data-wisedb="$wisedb"></canvas>
            </div>
        </div>
	</div>
</div>

<script type="application/javascript">
    createChart();
</script>