<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>R Learn</title>
    <link rel="stylesheet" type="text/css" href="wisedb.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.intercoolerjs.org/intercooler-1.0.0.min.js"></script>
</head>

<body>

    <div id="step">
        #parse( $next-Step )
    </div>

</body>
</html>
