<h1>Initial Data</h1>
<section id="initialData">
    <form>
        <h2>Choose templates</h2>
        <ul class="template-list">
            #foreach($template in $templates.keySet())
                <div class="form-group">
                    <label for="$template">$templates.get($template)</label>
                    <input id="$template" name="template$template" type="checkbox" class="toggle">
                </div>
            #end
        </ul>
        <button type="submit" class="btn" ic-post-to="/sendInitialDataS" ic-target="body">SLEARN</button>
        <button type="submit" class="btn" ic-post-to="/sendInitialDataR" ic-target='body'>RLEARN</button>
    </form>
</section>
