#slaPlot .svg-container {
    margin: auto;
    max-width: 450px;
    width: auto;
}

#slider {
    width: auto;
    margin: auto;
    display: block;
}

.padding, #slider {
    padding-top: 1em;
    padding-bottom: 1em;
}

#saveBtn button {
    margin-top: 1.7em;
}

.panel-body {
    overflow-x: hidden;
}

.inline {
  display: inline-block;
}

.control-label {
  line-height: 2.4em;
}
