#slaPlot .svg-container {
    margin: auto;
}

#slider {
    width: auto;
    margin: auto;
    display: block;
}

.padding, #slider {
    padding-top: 1em;
    padding-bottom: 1em;
}

#saveBtn button {
    margin-top: 1.7em;
}
