.cursor {
    cursor: pointer;
}
.cursor:hover {
    text-decoration: none;
}

.panel-primary { border-color: #00B2CA; }
.panel-primary .panel-heading { background-color: #00B2CA; border-color: #00B2CA; }
.panel-warning { border-color: #F79256; }
.panel-warning .panel-heading { background-color: #F79256; border-color: #F79256; }
.panel-warning .panel-title, .panel-primary .panel-title, .panel-success .panel-heading { color: white; }
.panel-success>.panel-heading { background-color: #7DCFB6; border-color: #7DCFB6;
}

body {
    font-family: Helvetica, Arial;
    font-size: 15px;
}

p {
  font-size: 15px;
}

.big-hacky-panel {
  margin-bottom: 50em;
}
