<div class="container" id="wisdom">
  <div class="row">
    <div class="col-md-12">
      <query-templates v-on:templates-changed="templatesChanged">
      </query-templates>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <sla-selection :templates="templates"
                     :mode="mode"
                     v-on:deadline-changed="deadlineChanged">
      </sla-selection>
    </div>

    <div class="col-md-6">
      <learning-type :templates="templates"
                     :deadline="deadline"
                     v-on:mode-changed="modeChanged"
                     v-on:frequency-changed="frequenciesChanged">
      </learning-type>
    </div>
  </div>

  <div class="row" id="results">
    <div class="col-md-6">
      <sla-recs :templates="templates"
                :frequencies="frequencies"
                :mode="mode"
                :sla="deadline"
                v-if="mode == 'slearn'"
                v-on:selected-sla-changed="selectedSLAChanged">
      </sla-recs>

      <slearn-graph :sla="selectedSLA"
                    :mode="mode"
                    v-if="mode == 'slearn'">
      </slearn-graph>

      <rlearn-graph :mode="mode"
                    :rlearn-data="rlearnData"
                    v-if="(mode == 'rlearn') && deadline">
      </rlearn-graph>

    </div>
    <div class="col-md-6">
      <strategy :sla="selectedSLA"
                :mode="mode"
                v-if="mode == 'slearn'">
      </strategy>

      <live-display :mode="mode"
                    :sla="deadline"
                    :templates="templates"
                    v-on:rlearn-cost-update="gotRLearnData"
                    v-if="mode =='rlearn'">

      </live-display>
    </div>
  </div>
</div>
