<div class="container" id="wisdom">
  <div class="row">
    <div class="col-md-12">
      <query-templates v-on:templates-changed="templatesChanged">
      </query-templates>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <sla-selection :templates="templates"
                     :mode="mode"
                     v-on:deadline-changed="deadlineChanged"
                     v-on:sla-type-changed="slaTypeChanged">
      </sla-selection>
    </div>

    <div class="col-md-6">
      <learning-type :templates="templates"
                     :deadline="deadline"
                     v-on:mode-changed="modeChanged">
      </learning-type>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" id="workloadSLAselection" v-if="mode == 'slearn' && deadline">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            Workload and SLA Selection
          </h3>
        </div>
        <div class="panel-body">
          <sla-recs :templates="templates"
                    :mode="mode"
                    :sla="deadline"
                    :sla-type="slaType"
                    v-on:selected-sla-changed="selectedSLAChanged">
          </sla-recs>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="results" v-if="mode == 'slearn' && deadline">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            Recommended Strategy
          </h3>
        </div>
        <div class="panel-body">
          <strategy :sla="selectedSLA"
                    :templates="templates">
          </strategy>
          <slearn-graph :sla="selectedSLA">
          </slearn-graph>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="results" v-if="mode == 'rlearn' && deadline">
    <div class="col-md-6">

      <rlearn-graph :mode="mode"
                    :rlearn-data="rlearnData"
                    :stats="runningVMs">
      </rlearn-graph>

    </div>
    <div class="col-md-6">
      <live-display :mode="mode"
                    :sla="deadline"
                    :templates="templates"
                    v-on:rlearn-cost-update="gotRLearnData"
                    v-on:running-vm-count="runningVMCount">
      </live-display>
    </div>
  </div>
</div>
