.starting {
    animation-name: flash;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.off {
    filter: opacity(60%) grayscale(100%);
}


.list-complete-item {
    transition: all 0.25s;
    display: inline-block;
    margin-right: 10px;
}
.list-complete-enter {
    opacity: 0;
    transform: translateX(30px);
}

.list-complete-leave-active {

}

.list-complete-leave-active {
    position: absolute;
}

.blink_me {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.ptr {
    cursor: pointer;
    padding-right: 20px;
}

.controls {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.modal-dialog {
    width: 750px;
}

.align-right {
  float: right;
}

.well {
  padding: 9px 19px 19px 19px;
}
