<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Strategy <span v-show="!sla">(select an SLA first)</span></h3>
  </div>
  <div class="panel-body" v-show="running">
    <div v-show="numVMs == 0">
      <p align="center"><i class="fa fa-spinner fa-spin fa-3x"></i></p>
      <p align="center">Hold on, contacting the cloud...</p>
    </div>

    <div v-if="numVMs != 0" class="controls">
      <i class="ptr fa fa-play"  v-on:click="play()" v-if="paused"></i>
      <i class="ptr fa fa-pause" v-on:click="pause()" v-if="!paused"></i>
      <span class="blink_me" v-if="paused">actions taken: {{ messages }}</span>
      <span v-if="!paused">actions taken: {{ messages }}</span>
    </div>


    

    <div id="expModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Experience for VM</h4>
          </div>
          <div class="modal-body">
            <p>Here's the experience data for this bandit.</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>CPU usage</th><th>RAM usage</th>
                  <th>Queue size</th>
                  <th>Tables used</th><th>Table scans</th>
                  <th>Joins</th><th>Cache reads</th><th>Cost</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="exps in experience">
                  <td v-for="f in exps">
                    {{ f }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    

    <span v-for="(value, key) in vms">
      <div class="well" v-show="value.shouldDisplay" v-bind:key="key">
        <div class="row">
	  <div class="col-xs-1">
            <img :class="'strat-rec-img ' + value.state"
                 width="24px"
                 height="24px"
                 src="assets/server.png"
                 style="display: inline; vertical-align: bottom;"
                 alt="Virtual machine"
                 v-on:click="showExperience(key)">
          </div>
          <div class="col-xs-11">
            <ul class="list-inline" style="display: inline; padding-left: 10px;">
              <transition-group name="list-complete" tag="span">
                <li v-for="q in value.queue"
                    class="list-complete-item"
                    v-bind:key="q.queryID">
                  
                  <div :class="'strat-rec-img sphere t' + q.template"
	               data-toggle="tooltip"
	               :title="'Query ID: ' + q.queryID">
                    {{q.template}}
                  </div>
                </li>
              </transition-group>
            </ul>
          </div>
        </div>
      </div>
    </span>

  </div>
</div>
