.starting {
    animation-name: flash;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.off {
    filter: opacity(60%) grayscale(100%);
}


.list-complete-item {
    transition: all 0.25s;
    display: inline-block;
    margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-active {
    opacity: 0;
    transform: translateY(30px);
}
.list-complete-leave-active {
    position: absolute;
}
